{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %} 

<!-- Element injected in the BODY element -->
{% block body_class %} dashboard {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <link href="{% static 'css/app.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
  
{% endblock stylesheets %}

{% block content %}
	{% if request.user.is_media_staff == False %}

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3"><strong></strong>Ro'yxati </h1>

					<div class="row">
						<canvas id="attendanceChart" width="400" height="200"></canvas>
						<div class="col-xl-12 col-xxl-12 d-flex">
							<div class="w-100">
								<div class="row">
									{% for cashback in cashbacks %}
									<div class="col-sm-6">
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">{{cashback.name}}  {{cashback.persent}}%</h5>
													</div>
													<div class="col-auto">
														<div class="stat text-primary">
															<a href="{% url 'cashback_update' cashback.id %}"><i class="align-middle" data-feather="edit-3"></i></a>
														</div>
													</div>

												</div>
													<h1 class="mt-1 mb-3">{{cashback.summa}} UZS</h1>
													<div class="stat text-primary">
														<a href="{% url 'cashbacks_by_cashback' cashback.id %}"><i class="align-middle" data-feather="list"></i></a>
													</div>
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
	{% endif %}
{% endblock content %}

{% block javascripts %}
	<script src="{% static 'js/app.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


	<script>
		const ctx = document.getElementById('attendanceChart').getContext('2d');
		const attendanceChart = new Chart(ctx, {
			type: 'bar', // yoki 'line', 'pie'
			data: {
				labels: {{ chart_labels|safe }},
				datasets: [{
					label: 'Kundalik kelgan xodimlar soni',
					data: {{ chart_values|safe }},
					backgroundColor: 'rgba(75, 192, 192, 0.6)',
					borderColor: 'rgba(75, 192, 192, 1)',
					borderWidth: 1
				}]
			},
			options: {
				responsive: true,
				scales: {
					y: { beginAtZero: true }
				}
			}
		});
	</script>
{% endblock javascripts %}
